{% extends "base.html" %}

{% block title %}Imports{% endblock %}

{% block content %}

<h2>Imports</h2>

{% if perms.scouts.import_users %}

<ul>
	<li><a href="{% url 'placeholder_imports' %}">Placeholder</a></li>
	<li><a href="{% url 'troopmaster_imports' %}">Troopmaster</a></li>
	<li><a href="{% url 'scoutbook_imports' %}">Scoutbook</a></li>
	<li><a href="{% url 'yaml_imports' %}">YAML</a></li>
</ul>

{% else %}

<p>No permissions to import users</p>

{% endif %}

<div hx-get="{% url 'placeholder_tasks' %}" hx-trigger="load, every 10s" hx-swap="innerHTML">
	{% include "imports/placeholder_partial_tasks.html" %}
</div>

{% endblock %}
