{% extends "base.html" %}

{% block title %}Imports{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<h2>Placeholder Import</h2>

This does basically nothing, sorry.

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Import"></input>
</form>

{% endblock %}
