<table>
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Job ID</th>
      <th scope="col">Worker</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <th>{{ task.name }}</th>
      <td>{{ task.id }}</th>
      <td>{{ task.hostname }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
