{% extends "base.html" %}

{% block title %}Imports{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<h2>Scoutbook Import</h2>

<p>You'll need the "Scouts/Members" report and the "Advancement" report which can be exported from Scoutbook</p>

<p>More instructions for the specific settings to obtain the files are in the <a href="https://docs.google.com/document/d/15y0gN3XC73Upvly2_y3wijwRIPcEl4WT-yYcuFxbO5E/edit?usp=sharing">User Manual</a></p>

<p>If you have trouble with this feature, email me and we can arrange for me to take a look at it</p>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Import"></input>
</form>

{% endblock %}
