{% extends "base.html" %}

{% block title %}Import From Troopmaster{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<h2>Troopmaster Import</h2>

<p>In Troopmaster, obtain the "Individual History" report from the Reports-&gt;Advancement menu.</p>

<p>More instructions for the specific settings to obtain the file are in the <a href="https://docs.google.com/document/d/15y0gN3XC73Upvly2_y3wijwRIPcEl4WT-yYcuFxbO5E/edit?usp=sharing">User Manual</a></p>

<p>If you have trouble with this feature, email me and I'll take a look at it</p>

<p>Importing a large file may take several minutes.</p>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Import">
</form>

{% endblock %}
