
{% extends 'base.html' %}

{% block title %}Permission Groups{% endblock %}

{% block content %}

{% if perms.group.create_group %}
<a href="{% url 'site_admin.group_create' %}"><button type="button" class="btn btn-primary">New Group</button></a>
{% endif %}

    <table class="table table-striped table-hover" id="scouts">
	    <thead>
        <tr><td>Group Name</td>
        </tr>
	    </thead>
	    <tbody>
{% if perms.group.change_group %}
    {% for group in groups %}
    <tr>
	    <td><a href="{% url 'site_admin.group_update' group.id %}"><button type="button" class="btn btn-primary">Edit {{ group.name }}</button></a>
	    <td><a href="{% url 'site_admin.group_delete' group.id %}"><button type="button" class="btn btn-primary">Delete {{ group.name }}</button></a>
    </tr>
    {% endfor %}
{% else %}
<tr>
	<td>Insufficient Permissions, need "change_group"</td>
</tr>
{% endif %}

	    </tbody>

    </table>

{% endblock %}
