{% extends 'base.html' %}

{% block title %}Confirm Delete Group {{ object.name }}{% endblock %}

{% block content %}


<form method="post">{% csrf_token %}
	<p>Are you sure you want to delete "{{ object.name }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
    <a href="{% url 'site_admin.group_list' %}"><button type="button">Cancel</button></a>
</form>


{% endblock %}
