
{% extends 'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}


    <table class="table table-striped table-hover" id="users">
	    <thead>
        <tr>
		<th>Name</th>
		<th>User Type</th>
		<th>Edit Button</th>
        </tr>
	    </thead>
	    <tbody>

    {% for user in user_list.all %}
    <tr>
	<td>{{ user.first_name }} {{ user.last_name }}</td>
	{% if user.user_type %}
	<td>{{ user.user_type }}</td>
	{% else %}
	<td>No Type</td>
	{% endif %}
	<td><a href="{% url 'site_admin.user_update' user.id %}"><button type="button" class="btn btn-primary">Admin Edit</button></a></td>
    </tr>

    {% endfor %}
	    </tbody>

    </table>

{% endblock %}
