{% extends 'base.html' %}

{% block title %}

{% include 'scouts/safe_name.html' with scout=adult user=user %}

{% endblock %}

{% block content %}
<div class = "container">
    <div class="row justify-content-center">
        <div class="col-8">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col">
		{% include "scouts/safe_name.html" with scout=adult user=user %}
{% if perms.users.change_user %}
	        <span><a href="{% url 'adult_edit' adult.id %}"><button type="button" class="btn btn-primary">Edit</button></a></span>
{% else %}
		<span></span>
{% endif %}
			</div></div></div>
	</div> {# column #}
    </div>
</div>  {# container #}
{% endblock %}
