{% extends 'base.html' %}

{% block title %}All Adults{% endblock %}

{% block content %}

{% if perms.users.add_user %}
<a href="{% url 'adult_create' %}"><button type="button" class="btn btn-primary">New Adult</button></a>
{% endif %}

    <table class="table table-striped table-hover" id="adults">
	    <thead>
        <tr><th>Name</th>
            <th></th>
        </tr>
	    </thead>
	    <tbody>
    {% for adult in adults %}
    <tr>
	    <td><a href="{% url 'adult_detail' pk=adult.id %}">{{ adult.first_name }} {{ adult.last_name }}</a></td>

{% if perms.user.change_user %}
            <td><a href="{% url 'adult_edit' adult.id %}"><button type="button" class="btn btn-primary">Profile Edit</button></a>
{% else %}
	    <td></td>
{% endif %}
{% if perms.user.change_user %}
            <td><a href="{% url 'site_admin.user_update' adult.id %}"><button type="button" class="btn btn-primary">Admin Edit</button></a>
{% else %}
	    <td></td>
{% endif %}
    </tr>
    {% endfor %}
	    </tbody>

    </table>

{% endblock %}
