{% extends 'base.html' %}

{% block title %}

{% include 'scouts/safe_name.html' with scout=scout user=user %}
{% if scout.user_type == "scout" %}{{ scout.current_rank.name }}{% endif %}
{% endblock %}

{% block content %}

<div class = "container">
    <div class="row justify-content-center">
        <div class="col-8">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col">
		{% include "scouts/safe_name.html" with scout=scout user=user %}
{% if scout.patrol %}
<a href="{% url 'patrol_detail' scout.patrol.id %}"><button type="button" class="btn btn-secondary">{{ scout.patrol.name }}</button></a></span>

{% else %}
No Patrol
{% endif %}

{% if perms.scouts.change_user %}

	        <span><a href="{% url 'scouts_edit' scout.id %}"><button type="button" class="btn btn-primary">Edit</button></a></span>

{% endif %}
			</div></div></div>
	</div> {# column #}
    </div>
    {% if scout.user_type == "scout" %}
    <div class="row justify-content-center">
	{% for rank_signoff in scout.completed_ranks.all %}
        <div class="col-8">
		{% include "badges/badge_complete_card.html" with signoff=rank_signoff %}
	</div>
	{% endfor %}
   </div>

{% regroup signoffs by requirement.badge as signoff_requirements %}
{% for badge, signoffs_list in signoff_requirements %}
   <div class="row justify-content-center">
        <div class="col-8">
  {% include "badges/badge_partial_card.html" with scout=scout badge=badge signoff_list=signoff_list %}
	</div> {# column #}
    </div> {# row #}
{% endfor %}

{% endif %}

</div>  {# container #}
{% endblock %}
