{% extends 'base.html' %}

{% block title %}All Scouts{% endblock %}

{% block content %}

{% if perms.users.create_user %}
    <a href="{% url 'scouts_create' %}"><button type="button" class="btn btn-primary">New Scout</button></a>
{% endif %}
<table class="table table-striped table-hover" id="scouts">
	<thead>
        <tr><td>Name</td>
            <td>Patrol</td>
            <td>Current Rank</td>
            <td>Current Rank Date</td>
            <td></td>
            <td></td>
        </tr>
	</thead>
	<tbody>
    {% for scout in scouts %}
    <tr>
	<td><a href="{% url 'scouts_detail' pk=scout.id %}">{{ scout.first_name }} {{ scout.last_name }}</a></td>

	{% if scout.patrol %}
	<td><a href="{% url 'patrol_detail' pk=scout.patrol.id %}">{{ scout.patrol.name }}</td>
	{% else %}
	<td>No Patrol</td>
	{% endif %}
	{% if scout.current_rank.id %}
	<td><a href="{% url 'rank_detail' pk=scout.current_rank.id %}">{{ scout.current_rank.name }}</td>
	{% else %}
	<td>No Rank</td>
	{% endif %}

	{% if perms.users.change_user %}
	<td><a href="{% url 'scouts_edit' scout.id %}"><button type="button" class="btn btn-primary">Profile Edit</button></a>
	{% else %}
	<td></td>
	{% endif %}
	{% if perms.users.change_user %}
	<td><a href="{% url 'site_admin.user_update' scout.id %}"><button type="button" class="btn btn-primary">Admin Edit</button></a>
	{% else %}
	<td></td>
	{% endif %}
    </tr>
    {% empty %}
    <tr>
    <td>
    No Scouts in troop yet - consider <a href="/imports/">Importing</a>
    </td>
    </tr>
    {% endfor %}

	    </tbody>

    </table>

{% endblock %}
