
{% extends 'base.html' %}

{% block title %}Requirement Labels{% endblock %}

{% block content %}

{% if perms.requirement_labels.create_requirement_label %}
<a href="{% url 'requirement_labels_create' %}"><button type="button" class="btn btn-primary">New Label</button></a>
{% endif %}

    <table class="table table-striped table-hover" id="scouts">
	    <thead>
        <tr><th>Label Name</th>
		<th></th>
		<th></th>
        </tr>
	    </thead>
	    <tbody>
{% if perms.requirement_labels.change_requirement_label %}
    {% for label in labels %}
    <tr>
	    <td>{{ label.name }}</td>
	    <td><a href="{% url 'requirement_labels_update' label.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
	    <td><a href="{% url 'requirement_labels_delete' label.id %}"><button type="button" class="btn btn-primary">Delete</button></a>
    </tr>
    {% endfor %}
{% else %}
<tr>
	<td>Insufficient Permissions, need "change_requirement_labels"</td>
</tr>
{% endif %}

	    </tbody>

    </table>

{% endblock %}
