{% extends 'base.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
{% if perms.patrols.add_patrol %}
<div> <a href="{% url 'patrol_create' %}"><button type="button" class="btn btn-success">Create New</button></a></div>
{% endif %}



<div class="accordion" id="accordionPatrols">
  {% for patrol in patrols %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ patrol.name|slugify }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{patrol.name |slugify}}" aria-expanded="false" aria-controls="collapse{{ patrol.name|slugify }}">
	{{ patrol.name }}
      </button>
    </h2>
    <div id="collapse{{patrol.name | slugify}}" class="accordion-collapse collapse" aria-labelledby="heading{{ patrol.name|slugify }}" data-bs-parent="#accordionPatrols">
      <div class="accordion-body">
	<div class="badge bg-light"><a href="{% url 'patrol_detail' pk=patrol.id %}">View Patrol</a></div>
	{% for scout in patrol.patrol_members.all %}
	<div>
	  <span><a href="{% url 'scouts_detail' pk=scout.id %}">{{scout.safe_name}}</a></span>
	  <span class="badge bg-primary">{{scout.current_rank.name}}</span>
	  <span>{{ scout.current_rank_date }} </span>
	  <span class="progress">
	    <span class="progress-bar" role="progressbar" style="width: {{ scout.percent_rank_done | floatformat:0 }}%;" aria-valuenow="{{ scout.percent_rank_done | floatformat:0}}" aria-valuemin="0" aria-valuemax="100">{{ scout.percent_rank_done | floatformat:0}}%</span>
	  </span>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
