{% extends 'base.html' %}

{% block title %}Confirm Delete Patrol {{ object.name }}{% endblock %}

{% block content %}


<form method="post">{% csrf_token %}
	<p>Are you sure you want to delete "{{ object.name }}"?</p>
	<p>Scouts assigned to this patrol will have their patrol un-set</p>
    {{ form }}
    <input type="submit" value="Confirm">
    <a href="{% url 'patrol_list' %}"><button type="button">Cancel</button></a>
</form>


{% endblock %}
