{% extends 'base.html' %}

{% block title %}{{ patrol.name }}{% endblock %}

{% block content %}

<div class="container">

{{ patrol.name }}
{% if leader %}
 led by {{ leader.full_name }}
{% endif %}
{% if mentor and leader %}
, mentored by {{mentor.full_name}}
{% elif mentor %}
 mentored by {{ mentor.full_name }}
{% endif %}



{% if perms.patrols.change_patrol %}
	<span>	<a href="{% url 'patrol_update' patrol.id %}"><button type="button" class="btn btn-primary">Edit Patrol</button></a> </span>
{% endif %}
{% if perms.patrols.delete_patrol %}
	<span><a href="{% url 'patrol_delete' patrol.id %}"><button type="button" class="btn btn-danger">Delete Patrol</button></a></span>
{% endif %}
	<div>
    <div class="col">
    </div>
{% for scout in patrol.patrol_members.all %}
<div>
  <span><a href="{% url 'scouts_detail' pk=scout.id %}">{{scout.safe_name}}</a></span>
  <span class="badge bg-primary">{{scout.current_rank.name}}</span>
  <span>{{ scout.current_rank_date }} </span>
  <span class="progress">
    <span class="progress-bar" role="progressbar" style="width: {{ scout.percent_rank_done | floatformat:0 }}%;" aria-valuenow="{{ scout.percent_rank_done | floatformat:0}}" aria-valuemin="0" aria-valuemax="100">{{ scout.percent_rank_done | floatformat:0}}%</span>
  </span>
</div>
	{% endfor %}

{% if rank_needs %}

<div class="col-8">
    <h3>{{ patrol.name }} Most Needed Requirements</h3>
    <table class="table table-striped table-hover">
	    <thead>
    <tr>
	    <th>Rank</th>
	    <th>Requirement</th>
	    <th>Code</th>
	    <th>Scouts Needing</th>
    </tr>
	    </thead>

	    <tbody>
{% for rank_need in rank_needs.values %}

{% for requirement in rank_need %}
    <tr>
	    <td><a href="{% url 'rank_detail' requirement.badge__id %}">{{ requirement.badge__name }}</a></td>
	    <td>{{ requirement.text }}</td>
	    <td><a href="#requirement-{{requirement.badge__name}}{{requirement.code}}">{{ requirement.code }}</a></td>
	    <td>{{ requirement.count }}</td>
    </tr>

{% endfor %}

{% endfor %}

	    </tbody>
    </table>
    </div>

    {% endif %}
<div>

    </div>
</div>

<div class="container">
    <div class="col">
    </div>
    <div class="col-8">
    <table class="table">
    <tr>
        <th>Rank</th>
        <th>Code</th>
        <th>Requirement</th>
        {% for scout in advancement_scouts.all %}
        <td><a href="{% url "scouts_detail" pk=scout.id %}">{{scout.safe_name}}</a></td>
        {% endfor %}
    </tr>
    {% regroup signoffs by requirement as requirements_list %}

    {% for requirement, scout_data in requirements_list %}

    <tr>

	    <td id="requirement-{{ scout_data.0.requirement.badge.name}}{{scout_data.0.requirement.code}}"><a href="{% url 'rank_detail' scout_data.0.requirement.badge.id %}">{{ scout_data.0.requirement.badge.name }}</a></td>
	    <td> {{ scout_data.0.requirement.code }} </td>
	    <td> {{ scout_data.0.requirement.text }} </td>

{% for data in scout_data %}

    {% if perms.signoffs.signoff_allowed %}
	    {% if data.signed %}
	    <td>{% include "signoffs/mini_signed_off.html" with signoff=data %}</td>
	    {% else %}
	    <td>{% include "signoffs/mini_not_signed_off.html" with signoff=data %}</td>
	    {% endif %}
    {% else %}

	    {% if data.signed %}
	    <td>X</td>
	    {% else %}
	    <td>O</td>
	    {% endif %}
    {% endif %}
{% endfor %}

    </tr>

    {% endfor %}

</table>
    </div>
    <div class="col">
    </div>

</div>

{% endblock %}
