{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<form method="post">
	{% csrf_token %}
	<p>Are you sure you want to delete "{{ object.user.first_name}} {{ object.user.last_name }} {{ object.position.name }}"?</p>
	<p>In general, at the end of term, update the leadership position with an End Date rather than deleting is what you want</p>
	{{ form|crispy }}
    <input type="submit" value="Confirm">
    <a href="{% url 'leader_list' %}"><button type="button">Cancel</button></a>
</form>


{% endblock %}
