{% extends 'base.html' %}

{% block title %}{{ leader.user.first_name }}{{ leader.user.last_name }}{% endblock %}

{% block content %}

{% if perms.leaders.change_leader %}
	<a href="{% url 'leader_update' leader.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
{% endif %}

    <table class="table">
	    <thead>
	    <tr>
            <th>Position Name</th>
            <th>Position Holder</th>
	    <th>Start Date</th>
	    <th>End Date</th>
	    <th>Comments</th>
	    <th>Mentor</th>
	    </tr>
	    </thead>
	    <tbody>
        <tr>
		<td>{{ leader.position.name }}</td>
		<td>{{ leader.user.first_name }} {{leader.user.last_name}}</td>
		<td>{{ leader.start_date }}</td>
		<td>{{ leader.end_date }}</td>
		<td>{{ leader.comments }}</td>
		<td>{{ leader.mentor.first_name }} {{ leader.mentor.last_name }}</td>
        </tr>
	    </tbody>
    </table>

{% endblock %}
