<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
	    <h5 class="modal-title">Signoff {{scout.first_name }} {{ scout.last_name}} for {{ signoff.requirement.badge.name }} {{ signoff.requirement.code }} {{ signoff.requirement.text }}</h5>
    </div>
    <div class="modal-body">
	    <p>{{ signoff.requirement.text }}</p>
	    {{ csrf_token }}
	    {{ form.as_p }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
