{% extends 'base.html' %}
{% load i18n %}
<!DOCTYPE html>

{% block content %}
           <div>
                <strong>{% trans "Menu:" %}</strong>
                <ul>
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url %}
                        {% if email_url %}
                            <li>
                                <a href="{{ email_url }}">{% trans "Change Email" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url %}
                        {% if change_password_url %}
                            <li>
                                <a href="{{ change_password_url }}">{% trans "Change Password" %}</a>
                            </li>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url %}
                        {% if mfa_url %}
                            <li>
                                <a href="{{ mfa_url }}">{% trans "Two-Factor Authentication" %}</a>
                            </li>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url %}
                        {% if usersessions_list_url %}
                            <li>
                                <a href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_logout' as logout_url %}
                        {% if logout_url %}
                            <li>
                                <a href="{{ logout_url }}">{% trans "Sign Out" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% url 'account_login' as login_url %}
                        {% if login_url %}
                            <li>
                                <a href="{{ login_url }}">{% trans "Sign In" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_signup' as signup_url %}
                        {% if signup_url %}
                            <li>
                                <a href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% endblock content %}
