
{% extends 'base.html' %}

{% block title %}Positions{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
	    <thead>
	    <tr>
            <th>Name</th>
            <th>Description</th>
{% if perms.positions.add_position %}
            <th><a href="{% url 'positions_create' %}"><button type="button" class="btn btn-success">Create New</button></a></th>
{% else %}
	    <th></th>
{% endif %}
	    </tr>
	    </thead>

	    <tbody>
	{% for position in positions %}
        <tr>
		<td><a href="{% url 'position_detail' position.id %}">{{ position.name }}</a></td>
		<td>{{ position.description }}</td>
{% if perms.positions.change_positions %}
		<td><a href="{% url 'positions_update' position.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
{% else %}
		<td></td>
{% endif %}
        </tr>
        {% endfor %}
	    </tbody>
    </table>

{% endblock %}
