

{% extends 'base.html' %}

{% block title %}{{ position.name }}{% endblock %}

{% block content %}
    <table class="table">
	    <thead>
	    <tr>
            <th>Name</th>
            <th>Description</th>
	    </tr>
	    </thead>
	    <tbody>
        <tr>
		<td>{{ position.name }}</td>
		<td>{{ position.description }}</td>
{% if perms.leaders.add_leader %}
	        <td><a href="{% url 'leader_create_w_position' position.id %}"><button type="button" class="btn btn-primary">Assign New</button></a></td>
{% else %}
		<td></td>
{% endif %}
		<td></td>
        </tr>
	    </tbody>
    </table>

    <h3>Current Holders</h3>
    <table class="table table-striped table-hover">
	    <thead>
    <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th></th>
    </tr>
	    </thead>
	    <tbody>

    {% for scout_ref in incumbents %}
    <tr>
	    <td>{{ scout_ref.user.first_name }} {{ scout_ref.user.last_name.0 }}</td>
	    <td>{{ scout_ref.start_date }} </td>
{% if perms.leaders.change_leader %}
            <td><a href="{% url 'leader_update' scout_ref.id %}"><button type="button" class="btn btn-primary">Update</button></a></td>
{% else %}
	    <td></td>
{% endif %}
    </tr>

    {% empty %}
    <tr>
	    <td>None</td>
	    <td>None</td>
    </tr>
    {% endfor %}

	    </tbody>
    </table>


    <h3>Previous Holders</h3>
    <table class="table table-striped table-hover">
	    <thead>
    <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    </tr>
	    </thead>
	    <tbody>

    {% for scout_ref in veterans %}
    <tr>
	    <td>{{ scout_ref.user.first_name }} {{ scout_ref.user.last_name.0 }}</td>
	    <td>{{ scout_ref.start_date }} </td>
	    <td>{{ scout_ref.end_date }} </td>
{% if perms.leaders.change_leader %}
            <td><a href="{% url 'leader_update' scout_ref.id %}"><button type="button" class="btn btn-primary">Update</button></a></td>
{% else %}
	    <td></td>
{% endif %}
    </tr>
    {% endfor %}
	    </tbody>
    </table>
{% endblock %}
