<span class="card">
  <div class="card-header">
	  {{ signoff.requirement.badge.name }}
  </div>
  <ul class="list-group list-group-flush">
	  <li class="list-group-item">{{ signoff.date }}</li>
  </ul>
</span>
