
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="card">
  <div class="card-header">
  {% if scout.next_rank == badge %}
  {{badge.name}}
  {% include "badges/badge_progress_bar.html" %}
  {% else %}
  {{badge.name}}
  {% endif %}
  </div>
  <ul class="list-group list-group-flush">
    {% for signoff in signoffs_list %}
    {% if signoff.signed %}
	    {% include "signoffs/signed_off.html" with signoff=signoff %}
    {% else %}
	    {% include "signoffs/not_signed_off.html" with signoff=signoff %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
