
{% extends 'base.html' %}

{% block title %}{{ rank.name }}{% endblock %}

{% block content %}

<h1>{{ rank.name }} Completion</h1>


<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Code</th>
		<th>Requirement</th>
		<th>Number of scouts needing</th>
	</tr>
	</thead>
	<tbody>
{% for requirement in requirements %}
<tr>

	<td>{{ requirement.code }}</td>
	<td>{{ requirement.text }}</td>
	<td>{{ requirement.count }}</td>

</tr>

{% endfor %}
	</tbody>
</table>

{% endblock %}
