{% extends 'base.html' %}

{% block title %}All Ranks{% endblock %}

{% block content %}

<h1>Rank Completion</h1>

{% for rank in ranks %}
<h2><a href="{% url 'rank_detail' pk=rank.id %}">{{ rank.name}}</a></h2>


<table class="table table-striped table-hover">
<thead>
    <tr>
	    <th>Scout</th>
	    <th># of requirements needed</th>
	    <th>% of rank complete</th>
    </tr>
</thead>
<tbody>
    {% for scout in rank.scouts %}
    <tr>
        <td><a href="{% url "scouts_detail" pk=scout.id %}">{{scout.safe_name}}</a></td>
	<td>{{ scout.requirements_needed }}</td>
	<td>{{ scout.percent_rank_done | floatformat:1 }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endfor %}
{% endblock %}
