{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>{% block title %}Troopmanager.org (Django Edition){% endblock %}</title>
    {% include "bootstrap-includes.html" %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>
<body>

{% include "navbar.html" %}

{% include "messages.html" %}

<div class="content">
{% block content %}{% endblock %}
</div>


{% block footer %}(c) 2023-2024 Michael Perkins, Nathan Perkins, Source Code at <a href="https://gitlab.com/troopmanager/django-troop/">Django-troop</a>{% endblock %}
</body>
</html>
