<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TroopManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

{% include "navbar/people.html" %}

{% include "navbar/patrols.html" %}
{% include "navbar/leaders.html" %}

{% include "navbar/positions.html" %}

{% include "navbar/advancement.html" %}

{% include "navbar/imports.html" %}

{% include "navbar/admin.html" %}

{% include "navbar/user-profile.html" %}


    </div>
  </div>
</nav>
