<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admin
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	  <li><a class="dropdown-item" href="{% url 'site_admin.user_list' %}">Users</a></li>
	  <li><a class="dropdown-item" href="{% url 'site_admin.group_list' %}">Permission Groups</a></li>
  </ul>
</li>
