{% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdvancement" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		  {{ user.username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdvancement">

{% if user.user_type == "scout" %}
		  <li><a class="dropdown-item" href="{% url 'scouts_edit' user.pk %}">Profile</a></li>
{% elif user.user_type == "adult" %}
		  <li><a class="dropdown-item" href="{% url 'adult_edit' user.pk %}">Profile</a></li>
{% else %}
		  <li><a class="dropdown-item" href="{% url 'user_edit' user.pk %}">Profile</a></li>
{% endif %}

		  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>

        </li>
{% else %}
         <li class="nav-item">
		 <a class="nav-link" href="{% url 'account_login' %}">login</a>
	</li>
{% endif %}
